* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	/*border: 1px solid orange;*/
	font-family: 'Lato', sans-serif;
}
* {
	-webkit-flex: auto;
	-moz-flex: auto;
	-ms-flex: auto;
	flex: auto;
}
body {
	max-width: 900px;
	margin: 0 auto;
}
.row {
	width: 100%;
	-webkit-display: flex;
	-moz-display: flex;
	-ms-display: flex;	
	display: flex;
	flex-wrap: wrap;	
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.top-buffer {
	margin-top: 25px;
}
.title {
	text-align: right;
	margin-top: 0;
	margin-bottom: 5px;
	font-size: 4em;
	font-weight: 100;
	color: #333;
}
.description {
	text-align: right;
	font-size: 1.375em;
	color: #BCBBBB;
}
.heading {
	color: #BCBBBB;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 15px;
	margin-top: 10px;
}
.heading-image {
	max-width: 124px;
	border-radius: 80%;
	border: 4px solid #BCBBBB;
}
.divider {
	background: #BCBBBB;
	height: 5px;
	border: 0;
}
.main-image {
	width: 100%;
	max-height: 250px;
}
.project-box {
	margin: 0 auto;
	text-align: center;
}
.project-thumb {
	max-width: 200px;
}
.project-name {
	margin-bottom: 0;
	margin-top: 5px;
}
.project-link a {
	text-decoration: none;
	font-size: 0.875em;
}

@media all and (max-width: 699px) {
	.col-4 {
		width: 100%;
		display: block;
	}
	.project-box {
		margin-bottom: 25px;
	}
	
}